// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user_top {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
.user_left {
    width: 50%;
}
.user_right {
    width: 50%;
}